{% extends 'layout.html' %}
{% load static %}


{% block title %}
  <title>About Us</title>
{% endblock %}

{% block body %}
  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'images/about.jpg' %}" alt="About Us Image">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>Rubies Jewels</h2>
            </div>
            <p>
              <strong>Rubies Jewels</strong>, established in 2024 in Cairo, Egypt, offers affordable vintage jewelry designed to elevate your everyday style effortlessly.<br><br>
              As a dedicated small business, we prioritize <strong>quality</strong> and <strong>style</strong> in our collections, ensuring you receive the best jewelry at accessible prices.<br><br>
              Continuously striving for improvement, we are committed to your <strong>satisfaction</strong> with every purchase.
            </p>                     
            <a href="{% url 'shop' %}">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  

  <!-- end about section -->

{% endblock %}