{% extends 'store/layout.html' %}
{% load static %}


{% block title %}
  <title>About Us</title>
{% endblock %}

{% block body %}
  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'images/about.jpg' %}" alt="About Us Image">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>Rubies Jewels</h2>
            </div>
            <p>
              Rubies was made for your affordable vintage jewelry to elevate your everyday style effortlessly. We are a small business that started in 2021 and we are based in Cairo, Egypt. We are dedicated to providing you with the best quality of jewelry that is affordable and stylish. We are always looking for ways to improve our products and services to make sure that you are satisfied with your purchase.
            </p>
            <a href="{% url 'shop' %}">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  

  <!-- end about section -->

{% endblock %}