{% extends 'layout.html' %}
{% load static %}
{% load cloudinary %}

{% block title %}
<title>{{ user.first_name }}'s Cart</title>
{% endblock %}

{% block body %}
<!-- cart section -->
<section class="cart_section layout_padding">
    <div class="container">
        <h1 class="cart-title">{{ user.first_name }}'s Cart</h1>
        <div class="row">
            <!-- Product Details Section -->
            <div class="col-md-8">
                {% for item in cart.items.all %}
                <div class="product-container-cart row">
                    <div class="col-3">
                        <img src="{{ item.product.main_image.image.url }}" alt="{{ item.product.name }}" class="cart-thumbnail">
                    </div>
                    <div class="col-6 product-details-cart">
                        <h5 class="product-name-cart">{{ item.product.name }}</h5>
                        <p class="product-price">Price: {{ item.product.price }} EGP</p>
                        <p class="product-total">Total: {{ item.total_price }} EGP</p>
                    </div>
                    <div class="col-3">
                        <form action="{% url 'update_cart_item' item.product.id %}" method="post" class="quantity-form">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="number" name="quantity" value="{{ item.quantity }}" min="1" class="form-control">
                                <button type="submit" class="btn btn-update" data-toggle="tooltip" title="Update Quantity">
                                    <i class="fa fa-refresh" aria-hidden="true"></i>
                                </button>
                                <a href="{% url 'remove_from_cart' item.product.id %}" class="btn btn-remove" data-toggle="tooltip" title="Remove Item">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Order Summary Section -->
            <div class="col-md-4">
                <div class="order-summary">
                    <h3>Order Summary</h3>
                    <hr>
                    <p>Subtotal: {{ cart.total_price }} EGP</p>
                    <p class="text-muted" style="font-size: 13px;">*All Prices are inclusive of VAT</p>
                    <form action="" method="post" class="coupon-form"> <!-- action will be updated later -->
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="text" name="coupon_code" class="form-control" placeholder="Enter coupon code" required>
                            <div class="input-group-append">
                                <button class="btn btn-apply" type="submit">Apply</button>
                            </div>
                        </div>
                    </form>
                    <p>Coupon Discount: -0 EGP</p> <!-- Coupon Discount will be updated later -->
                    <p>Order Total: {{ cart.total_price }} EGP</p>
                    <a href="{% url 'checkout' %}" class="btn btn-checkout">Continue to Checkout</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end cart section -->
{% endblock %}
