{% extends 'store/layout.html' %}
{% load static %}
{% load cloudinary %}

{% block title %}
<title>{{ product.name }}</title>
{% endblock %}

{% block body %}
  <!-- Product Detail -->
  <section class="product_detail_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="product_images">
            <img id="mainImage" src="{{ product.main_image.image.url }}" alt="{{ product.name }}" class="img-fluid main_image" onclick="openModal()"/>
            <div class="thumbnail_images">
              {% for img in product.images %}
                <img src="{{ img.image.url }}" alt="{{ product.name }}" class="img-thumbnail" onclick="changeImage(this)"/>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="product_details">
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <p><strong>Material</strong>: {{ product.material }}</p>
            <h4>{{ product.price }} EGP</h4>
            <button class="btn btn-primary buy_now_btn">Buy Now</button>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            {% for img in product.images %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img src="{{ img.image.url }}" class="d-block w-100" alt="{{ product.name }}">
            </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- end product detail section -->

{% endblock %}
