{% extends 'store/layout.html' %}
{% load static %}

{% block title %}
<title>Shop - {{ category.name }}</title>
{% endblock %}

{% block body %}

<!-- shop section -->
<section class="shop_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>THE COLLECTION</h2>
    </div>

    <!-- Sorting Selector -->
    <div class="sorting-container">
      <form method="get" id="sorting-form">
        <label for="sort_by">Sort by:</label>
        <select name="sort_by" id="sort_by" onchange="document.getElementById('sorting-form').submit();">
          <option value="" disabled selected>Select</option>
          <option value="price_asc" {% if sort_by == 'price_asc' %}selected{% endif %}>Price: Low to High</option>
          <option value="price_desc" {% if sort_by == 'price_desc' %}selected{% endif %}>Price: High to Low</option>
        </select>
      </form>
    </div>

    <div class="product-container">
      {% for product in products %}
        <div class="product-item col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="{% url 'product' product.id %}">
              <div class="img-box">
                <img src="{{ product.main_image.image.url }}" loading="lazy" alt="{{ product.name }}">
              </div>
              <div class="detail-box">
                <a>{{ product.name }}</a>
                <span>{{ product.price }} EGP</span>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- Pagination Controls -->
    <div class="pagination-container">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          {% if products.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1&sort_by={{ sort_by }}">&laquo; First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}&sort_by={{ sort_by }}">&lsaquo; Prev</a></li>
          {% endif %}

          {% for page_num in products.paginator.page_range %}
            {% if products.number == page_num %}
              <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ page_num }}&sort_by={{ sort_by }}">{{ page_num }}</a></li>
            {% endif %}
          {% endfor %}

          {% if products.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}&sort_by={{ sort_by }}">Next &rsaquo;</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ products.paginator.num_pages }}&sort_by={{ sort_by }}">Last &raquo;</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</section>

{% endblock %}
