{% extends 'store/layout.html' %}
{% load static %}

{% block title %}
<title>Shop - {{ category.name }}</title>
{% endblock %}

{% block body %}

<!-- shop section -->
<section class="shop_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>THE COLLECTION</h2>
    </div>
    <div class="product-container">
      {% for product in products %}
        <div class="col-sm-6 col-md-4 col-lg-3 product-item">
          <div class="box">
            <a href="{% url 'product' product.id %}">
              <div class="img-box">
                <img src="{{ product.main_image.image.url }}" loading="lazy" alt="{{ product.name }}">
              </div>
              <div class="detail-box">
                <h6>{{ product.name }}</h6>
                <span>{{ product.price }} EGP</span>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}